@use "styles/breakpoints";
@use "styles/variables";
@use "styles/functions";

.weather-search {
  height: 100%;

  &__container {
    min-height: 60%;
    width: 40%;
    max-width: 500px;
    padding: functions.spacing(12);
    border-radius: 20px;

    background: linear-gradient(
      to top left,
      variables.$primary-color-dark,
      variables.$primary-color-light
    );

    @include breakpoints.respond-to(md) {
      width: 60%;
    }

    @include breakpoints.respond-to(sm) {
      width: 80%;
      padding: functions.spacing(6);
    }

    @include breakpoints.respond-to(xs) {
      width: 100%;
    }
  }

  &__message {
    font-size: 1.1rem;
    color: white;
    opacity: 0.7;
    flex: 1;
  }

  &__result {
    color: white;
  }

  &__temp {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: functions.spacing(4);
  }

  &__city-name {
    font-size: 30px;
    font-weight: 700;
  }

  &__stats {
    width: 100%;
    margin-top: functions.spacing(12);
    justify-content: space-between;
  }

  &__humidity {
    font-size: 30px;
  }

  &__wind {
    font-size: 25px;
  }
}
