// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;

// Fonts
$font-family: "Roboto", sans-serif;
$font-size-base: 16px;

// Spacing
$padding-base: 20px;
$margin-base: 10px;
