@use "functions";

// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$border-color: #ccc;
$background-hover-color: #f0f0f0;

// Fonts
$font-family: "Roboto", sans-serif;
$font-size-base: functions.spacing(4); // 1rem (16px)
