@use "sass:color";
@use "functions";

// Colors
$primary-color: #1976d2;
$primary-color-light: color.scale($primary-color, $lightness: 40%);
$primary-color-dark: color.scale($primary-color, $lightness: -40%);
$secondary-color: #2ecc71;
$text-color: #333;
$text-muted-color: #999;
$border-color: #ccc;
$background-hover-color: rgba(0, 0, 0, 0.04);

// Fonts
$font-family: "Roboto", sans-serif;
$font-size-base: functions.spacing(4); // 1rem (16px)
