@use "styles/variables";
@use "styles/functions";

.autocomplete {
  position: relative;
  width: 100%;

  &__input-wrapper {
    align-items: center;
    background-color: white;
    border: 1px solid variables.$border-color;
    border-radius: 4px;
    padding: functions.spacing(4);
  }

  &__input {
    width: 100%;
    height: functions.spacing(6);
    font-size: variables.$font-size-base;
    outline: none;
    border: none;
  }

  &__clear-icon {
    cursor: pointer;
    color: variables.$text-muted-color;
    transition: color 0.2s ease;

    &:hover {
      color: variables.$text-color;
    }
  }

  &__start-icon {
    margin-right: functions.spacing(4);
    font-size: 20px;
  }

  &__options {
    border: 1px solid variables.$border-color;
    max-height: 40vh;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: functions.spacing(2) 0;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  &__option {
    padding: functions.spacing(2) functions.spacing(4);
    cursor: pointer;

    &--highlighted {
      background-color: variables.$background-hover-color;
    }

    &:hover {
      background-color: variables.$background-hover-color;
    }
  }

  &__message {
    padding: functions.spacing(2) functions.spacing(4);
    color: variables.$text-muted-color;
  }

  &__spinner {
    margin: 0 functions.spacing(2);
  }
}
