@use "styles/functions";

.weather-details {
  color: white;

  &__temp {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: functions.spacing(4);
  }

  &__city-name {
    font-size: 30px;
    font-weight: 700;
  }

  &__stats {
    width: 100%;
    margin: functions.spacing(12) 0;
    justify-content: space-between;
  }

  &__humidity {
    font-size: 30px;
  }

  &__wind {
    font-size: 25px;
  }

  &__favorite-btn {
  }
}
